

* {
 -webkit-transition: all 0.25s ease-out;
 -moz-transition: all 0.25s ease-out;
 transition: all 0.25s ease-out;
}

body {
	font-family: 'Lora', serif;
	font-size: 16px;
	background-image: url("images/LightBackground.png");
	background-size: 100%;
}

#Logo {
	height: 70px;
	width: 70px;
	margin-top: -23px;
	margin-left: -18px;
}

#footer {
	text-align: right;
	margin-right: 20px;
	margin-bottom: 20px;
}

.display-3 {
	text-align: center;
	font-family: 'Pinyon Script', cursive;
	font-size: 800% !important;
}

.display-2 {
	text-align: center;
	font-family: 'Felipa', cursive;
}

p {
	margin-left: 25%;
	margin-right: 25%;
	text-align: justify;
}

.row {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.lead {
	margin-left: 15%;
	margin-right: 15%;
}

#content {
	margin-left: 5%;
	margin-right: 5%;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

.embed-responsive {
	margin: 0 auto;
	max-width: 630px;
}

.embed-responsive-item {
	max-width: 630px;
	max-height: 437px;
}

#image {
	width: 100%;
	display: block;
	margin: 0 auto;

}
.col-xs-6 {
	position: relative;
	margin-bottom: 30px;
}

#fullimagediv {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 85vh;
	position: relative;
}

#arrows {
	text-align: center;
	font-size: 200%;
}

#arrow {
	-moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#Home {
	margin-left: -15px;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #2e6da4;
    background-image: -webkit-linear-gradient(top,#CCC 0,#DDD 100%);
    background-image: -o-linear-gradient(top,#CCC 0,#DDD 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#CCC),to(#DDD));
    background-image: linear-gradient(to bottom,#CCC 0,#DDD 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #333;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}

@media screen and (max-width: 650px) {
	#Home {
	margin-left: 0px;
}

.display-3 {
	text-align: center;
	font-family: 'Pinyon Script', cursive;
	font-size: 500% !important;
}

#footer {
	text-align: right;
	margin-right: 20px;
	margin-bottom: 20px;
	font-size: 12px;
}

}